.navbar-inner {
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.7) !important;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.7) !important;
	background-image:-webkit-linear-gradient(top, #333, #111) !important;
}

.clients-list li {
	padding:10px;
	border-bottom:1px solid #efefef;
}

.clients-list li.selected{
	background:green;
	color:#fff;
}

.clients-list .info {
	padding:10px 0;
	font-size:0.9em;
}

.pane {position:absolute;left:0;right:0;top:40px;bottom:0;background:#efefef}